

.gallery .title span {
    color: #203c86;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.gallery .title h2 {
    color: #203c86;
    text-align: left;
    font-weight: bold;
    height: 15px;
}
.gallery picture {
    display: block;
    float: left;
    margin-bottom: 20px;
}
.ola{
    height: 0px;
}